/*Стилизація проєкта -*/
/*index.html - всі блоки з user - по 2 в рядок. кнопки/посилвння розташувати під інформацією про user.*/
/*user-details.html - блок з інфою про user зверху сторінки. Кнопка нижчє, на 90% ширини сторінки, по центру.*/
/*блоки з короткою іфною про post - в ряд по 5 .*/
/*post-details.html - блок з інфою про пост зверху. Коментарі - по 4 в ряд.*/
/*Всі елементи котрі характеризують users, posts, comments візуалізувати, так, щоб було видно що це блоки (дати фон. марджини і т*/

.wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.user{
    width: 45%;
    border: solid 2px #a6d0f8;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 20px 0 0 20px;

}

